h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;

}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#uploadInputContainer input {
  display: inline;

}

#imageSettings {

  /* display: none;*/
}

.previewImage {
  max-width: 260px;

}

.displaySetting {
  width: 50px!important;
}

.settingSliderForm {
  margin-bottom: 10px;
}

.settingSliderForm small {

  margin-top: 20px;
}

#traceComposite {

  width: 1000px;
  height: 1000px;
}

#svgContainer, #compositeContainer {
  display: relative !important;
  top: 0px;
  left: 0px;

}
