h4 {
  margin-top: 25px;
}
.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;

}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#uploadContainer {
  display: none;

}

#uploadInputContainer input {
  display: inline;

}

#imageSettings h3 {

  margin-top: 0px;
}

.previewImage {
  max-width: 260px;

}

.displaySetting {
  width: 50px!important;
}

.settingSliderForm {
  margin-bottom: 10px;
}

.settingSliderForm small {

  margin-top: 20px;
}

.activeSetting {
  background: #F1F1F1;
  border-radius: 5px;
}

#traceComposite, #svgContainer {

  display: none;

}

#potraceSettings {

  display: none;
}


#stepModeInputContainer p {

display: inline;

}


